*{
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #111 40%, #1c1c1c 100%);    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    color: white;
    font-family: Georgia;
}

.conteudo{
    display: flex;
    justify-content: center;
}

.nav{
    position: fixed;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    background-image:url(./imagens/menu_cima.png);
    background-position: 500px 230px;
    background-size: cover;
    color:goldenrod;  
    height: 170px;
    width: 100%;
    background-position: center;
    z-index: 2;
}
.nav h1{
    margin-top: 20px;
}

.nav hr{
    width: 900px;
}


.agradecimento {
    color: #f0e6d2;
    padding: 75px 50px 100px;
    text-align: center;
    height: 400px;
    margin-bottom: 40px;
}

.agradecimento h2 {
    font-size: 36px;
    color: goldenrod;
    margin-bottom: 30px;
    margin-top: 40px;
}

.agradecimento p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 auto 20px auto;
    text-align:start;
}

.homemLeao{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 400px;
    justify-content: flex-start;
}

.homemLeao img{
    margin-left: 150px;
    height: 450px;
}


.bloodborne {
    position: relative;
    height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    color: aliceblue;
    margin: 30px;
}
  
.bloodborne .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url("./imagens/bloodborne_inicial_esfumacado.png");
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    z-index: 0;
}


.botao {
    position: relative;
    background: none;
    border: none;
    color: #cdbd9c;
    font-size: 24px;
    font-family:Georgia; 
    cursor: pointer;
    transition: color 0.3s ease;
    text-shadow: 0 0 2px #000; 
}
  
.botao::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: rgba(251, 243, 188, 0.2);
    filter: blur(8px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}
  
.botao:hover {
    color: #cdb27c;
}
  
.botao:hover::after {
    opacity: 1;
}

.descricaoJogo{
    font-size: 20px;
}

.container{
    z-index: 1;
    position: relative;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.bloodborne .nomeJogo{
    display: flex;
    font-family: Fleshandblood;
    font-size: 58px;
}




.colossus {
    position: relative;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    color: aliceblue;
    margin: 30px;
}
  
.colossus .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url("./imagens/sotc_inicial_esfumacado.png");
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to left, transparent, black);
    -webkit-mask-image: linear-gradient(to left, transparent, black);
    z-index: 0;
}




.colossus .nomeJogo{
    display: flex;
    flex-direction: column;
    font-family: Caslon Antique;
    font-size: 50px;
    align-items: center;

}
.colossus .nomeJogo span{
    font-size: 30px;
 
}

.nomeJogopng{
    height: 150px;
}

  
.bg3 .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url("./imagens/bg3_inicial_esfumacado.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    z-index: 0;
}

.bg3 {
    position: relative;
    height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    color: aliceblue;
    margin: 30px;
    margin: 30px
}

.introColossus {
    position: relative;
    height: 515px;
    width: 80%;
    display: flex;
    color: aliceblue;
    margin: 30px;
}
  
.introColossus .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url(./imagens/mono_morta.png);
    background-size: cover;
    background-position: center;
}

.introColossus .container{
    z-index: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.introColossus #div_legenda{
    height: 40px;
    font-family: papyrus;
    font-size: 25px;
}