* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #111 40%, #1c1c1c 100%);     */
    background-image: url(../assets/imagens/fumaca_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #f0e6d2;
    font-family: Georgia;
}

.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.kpi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.graficos {
  width: 80%;
  height: 300px;  /* ou use vh como quiser */
  margin: auto;
}
