* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #111 40%, #1c1c1c 100%);     */
    background-image: url(../assets/imagens/fumaca_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #f0e6d2;
    font-family: Georgia;
}

.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/imagens/menu_cima.png);
    background-position: 500px 230px;
    background-size: cover;
    color: goldenrod;
    height: 170px;
    width: 100%;
    background-position: center;
    z-index: 2;
}

.nav h1 {
    margin-top: 20px;
}

.nav hr {
    width: 900px;
}


.agradecimento {
    color: #f0e6d2;
    padding: 75px 50px 100px;
    text-align: center;
    height: 400px;
    margin-bottom: 40px;
}

.agradecimento h2 {
    font-size: 36px;
    color: goldenrod;
    margin-bottom: 30px;
    margin-top: 40px;
}

.agradecimento p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 auto 20px auto;
    text-align: start;
    padding-right: 60px;
}

.agradecimento .homemLeao {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 400px;
    justify-content: flex-start;
}

.homemLeao img {
    margin-left: 150px;
    height: 450px;
}


.bloodborne {
    position: relative;
    height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: aliceblue;
    margin-top: 220px;

}

.bloodborne .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url("../assets/imagens/bloodborne/bloodborne_inicial_esfumacado.png");
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    z-index: 0;
}


.botao {
    position: relative;
    background: none;
    border: none;
    color: #cdbd9c;
    font-size: 24px;
    font-family: Georgia;
    cursor: pointer;
    transition: color 0.3s ease;
    text-shadow: 0 0 2px #000;
}

.botao::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: rgba(251, 243, 188, 0.2);
    filter: blur(8px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.botao:hover {
    color: #cdb27c;
}

.botao:hover::after {
    opacity: 1;
}

.descricaoJogo {
    font-size: 20px;
    color: #f0e6d2;
}

.bloodborne.fundoMascarado.container.descricaoJogo {
    padding-left: 30%;
}

.container {
    z-index: 1;
    position: relative;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.bloodborne .nomeJogo {
    display: flex;
    font-family: Fleshandblood;
    font-size: 58px;
}




.colossus {
    position: relative;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: aliceblue;
    margin: 30px;
}

.colossus .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url("../assets/imagens/sotc/sotc_inicial_esfumacado.png");
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to left, transparent, black);
    -webkit-mask-image: linear-gradient(to left, transparent, black);
    z-index: 0;
}




.colossus .nomeJogo {
    display: flex;
    flex-direction: column;
    font-family: Caslon Antique;
    font-size: 50px;
    align-items: center;

}

.colossus .nomeJogo span {
    font-size: 30px;

}

.nomeJogopng {
    height: 150px;
}


.bg3 .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url("../assets/imagens/bg3/bg3_inicial_esfumacado.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    z-index: 0;
}

.bg3 {
    position: relative;
    height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: aliceblue;
    margin: 30px;
    margin: 30px
}

.introColossus {
    position: relative;
    height: 680px;
    width: 100%;
    display: flex;
    color: aliceblue;
}

.introColossus .fundoMascarado1 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/sotc/mono_morta_esfumacado.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 1;
    transition: opacity 2s ease;
}

.introColossus .fundoMascarado2 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/sotc/espada_luz_esfumacado.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
}

.introColossus .fundoMascarado3 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/sotc/colosso_inicial_esfumacado.png);
    background-size: cover;
    background-position: top;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
}

.introColossus .container {
    z-index: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.introColossus #div_legenda {
    height: 40px;
    font-family: papyrus;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px #000,
        -2px -2px 5px #000,
        -2px 2px 5px #000,
        2px -2px 5px #000;
}

.jornadaColosso {
    color: #f0e6d2;
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    margin: 20px 20px 40px 40px;
    flex-direction: column;
    align-items: center;

}

.jornadaColosso p {
    padding: 40px;
    padding-right: 50px;
    margin-left: 50px;
}

/* .slideshow_container {
    width: 100%;
    max-width: 800px;
    position: relative;
    display: flex;
}

#slideshow {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out; 
} */

.swiper {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: goldenrod;
}

.derrotarColosso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.derrotarColosso .simboloColosso img {
    height: 500px;
    filter: invert(1) drop-shadow(0 0 5px rgb(108, 213, 239));
    padding-bottom: 30px;
    cursor: pointer;
}

.derrotarColosso .descricaoJogo {
    padding-bottom: 30px;
    font-size: 35px;
}

.arteConceitual {
    margin-bottom: 100px;
}

.arteConceitual .swiper {
    height: 720px;
    width: 70%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0e6d2;
    font-family: Georgia;

}

.login .container {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bg3/bg3_login.jpg);
    background-size: cover;
    background-position: center;
    height: 620px;
    width: 100%;
    border-color: #f0e6d2;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

.login .container .card-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    width: 40%;
    font-size: 25px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 25px;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35%;
}

.campo input {
    border-radius: 5px;
    height: 35px;
    border-style: none none solid none;
    border-color: #f0e6d2;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    font-family: Georgia;
    color: #f0e6d2;
    width: 250px;
    outline: none;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0e6d2;
    font-family: Georgia;
}

.cadastro .container {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_cadastro.jpg);
    background-size: cover;
    background-position: center;
    height: 620px;
    width: 100%;
    border-color: #f0e6d2;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

.cadastro .container .card-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 40%;
    font-size: 25px;
}

.card-cadastro input {
    width: 400px;
}

.formulario span {
    font-size: 20px;
}

.formulario a {
    text-decoration: none;
    color: goldenrod;
}


.navBloodborne {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    background-image: url(../assets/imagens/menu_cima.png);
    background-size: cover;
    height: 160px;
    width: 100%;
    background-position: top;
    z-index: 2;
    background-position: 500px;
}

.discernimento {
    display: flex;
    flex-direction: row;
}

#div_discernimento {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 35px;
    margin-right: 15px;
}

.navBloodborne img {
    display: flex;
    height: 30px;
    flex-direction: row;
    margin-right: 60px;
    margin-top: 60px;
    filter: invert(1);
}

.introBlood {
    position: relative;
    height: 700px;
    width: 100%;
    display: flex;
    color: aliceblue;

}

.introBlood .fundoMascarado1 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_minister3.jpg);
    background-size: cover;
    background-position: top;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 60px;
}

.introBlood .fundoMascarado2 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_minister.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 60px;
}

.introBlood .fundoMascarado3 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_minister4.jpg);
    background-size: cover;
    background-position: top;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 60px;
}

.introBlood .fundoMascarado4 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_minister2.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 60px;
}

.introBlood .fundoMascarado10 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/000000.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 1;
    transition: opacity 4.5s ease;
    margin-top: 60px;
}


.introBlood .container {
    z-index: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.introBlood #div_legenda {
    height: 40px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px #000,
        -2px -2px 5px #000,
        -2px 2px 5px #000,
        2px -2px 5px #000;
}

.introBlood #nomeJogador {
    display: none;
    opacity: 0;
    border-radius: 5px;
    height: 35px;
    border-style: none none solid none;
    border-color: #f0e6d2;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    font-family: Georgia;
    color: #f0e6d2;
    width: 250px;
    outline: none;
}

.introBlood #nomeJogador.show {
    display: block;
    opacity: 1;
}

.lobo {
    position: relative;
    height: 700px;
    width: 100%;
    display: flex;
    color: aliceblue;
}

.lobo .fundoMascarado5 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_lobo.png
);
    background-size: cover;
    background-position: top;
    z-index: 0;
    opacity: 1;
    transition: opacity 2s ease;
    margin-top: 60px;
}

.lobo .fundoMascarado6 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_morreu.jpg
);
    background-size: cover;
    background-position: top;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 60px;
}

.lobo .fundoMascarado11 {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_inicial.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 60px;
}

.lobo .container {
    z-index: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.conteudo .dream {
    position: relative;
    height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: aliceblue;

}



.conteudo .dream .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_sonho_do_cacador.jpg);
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    z-index: 0;
}

.conteudo .dream .container {
    margin-left: 100px;
}


.conteudo .boneca {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;
    align-items: center;
    margin-top: 30px;
}

.conteudo .boneca .container {
    justify-content: flex-end;
    background-image: url(../assets/imagens/bloodborne/bloodborne_boneca.jpg);
    width: 80%;
    height: 600px;
    background-size: cover;
}

.conteudo .boneca .container .botao {
    margin-bottom: 40px;
}


.escolherArma .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 600px;
    flex-direction: row;
}

.escolherArma .container div {
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    margin: 10px;
}

.machado {
    background-image: url(../assets/imagens/bloodborne/bloodborne_machado.png);
}

.serra {
    background-image: url(../assets/imagens/bloodborne/bloodborne_serra.png);
}

.bengala {
    background-image: url(../assets/imagens/bloodborne/bloodborne_bengala.png);
}
/* 
.conteudo .yharnam .fundoMascarado {
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/bloodborne/bloodborne_yharnam.png);
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    z-index: 0;
}

.conteudo .yharnam {
    position: relative;
    height: 650px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
} */

.yharnam {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../assets/imagens/bloodborne/bloodborne_yharnam.png);
    background-size: cover;
    padding-top: 50px;
    background-position: top;
}

.horror h2{
    width: 100%;
    text-align: center;
}



.janela {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../assets/imagens/bloodborne/bloodborne_janela.jpg);
    background-size: cover;
    padding-top: 50px;
    background-position: top;
}

.padre {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../assets/imagens/bloodborne/Bloodborne-Father-Gascoigne.jpg);
    background-size: cover;
    padding-top: 50px;
    background-position: top;
}

.broche {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../assets/imagens/bloodborne/bloodborne_mulher-broche.png);
    background-size: cover;
    padding-top: 50px;
    background-position: bottom;
}


.capela {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 28px;
    margin-top: 40px;
}

.capela .container {

    width: 100%;

}

.capela .imagens {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}


.capela .container img {
    width: 41vw;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.capela .container img:hover {
    transform: scale(1.05);
}

.capela .container p {
    margin: 0px 80px 0px 80px;
}




.indexBloodborne .nav h1 {
    color: aliceblue;
    font-family: fleshandblood;
    font-size: 39px;
}

.indexBloodborne .nav .navegacao{
    display: flex;
    flex-direction: row;
    list-style: none;

}

.indexBloodborne .nav .navegacao a{
    text-decoration: none;
    color: #f0e6d2;
    margin: 0px 20px;
}

.areas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 28px;
    margin-top: 40px;
}

.areas .divisao {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
    width: 95%;
}

.area {
    width: 47%;
    height: 45vh;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
    font-size: 15px;
}
.area .container{
    margin-left: 10px;
}

.area.central {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_yharnam.png);
    background-size: cover;
}

.area.sonho {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_sonho_do_cacador.jpg);
    background-size: cover;
}

.area.antiga {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_antiga.png);
    background-size: cover;
    background-position: bottom;
}

.area.catedral {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_catedral.png);
    background-size: cover;
}

.area.academia {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_byrgenwerth.jpg);
    background-size: cover;
    background-position: bottom;
}

.area.mensis {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_mensis.jpg);
    background-size: cover;
}

.area.pesadelo {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_pesadelo.png);
    background-size: cover;
    background-position: bottom;
}

.area.yahargul {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../assets/imagens/bloodborne/bloodborne_yahar\'gul.png);
    background-size: cover;
    background-position: bottom;
}


.area:hover {
    transform: scale(1.05);
}

.banner {
    position: relative;
    width: 100%;
    height: 680px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 35px;
}

.videoFundo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}

.contexto {
    width: 100%;
    height: 550px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 28px;
    margin-top: 40px;
}

.contexto .container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.contexto .container img {
    width: 41vw;
    margin-left: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.contexto .container img:hover {
    transform: scale(1.05);
}

.contexto .container p {
    margin: 0px 80px 0px 80px;
}

.arte {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../assets/imagens/bloodborne/bloodborne-central-yharnam-tunnel.jpg);
    background-size: cover;
    padding-top: 50px;
    background-position: bottom;
}

.arte h2{
    width: 100%;
    text-align: center;
}

.mecanica {
    width: 100%;
    height: 580;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 28px;
    margin-top: 40px;
}

.mecanica .container{
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}

.mecanica .container img{
    width: 38vw;
    margin-left: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
    margin: 30px 0px 30px;
}

.mecanica .container img:hover {
    transform: scale(1.05);
}

.mecanica .container p{
    margin: 0px 80px 0px 80px;
}

.horror {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../assets/imagens/bloodborne/bloodborne-moon-presence.jpg);
    background-size: cover;
    padding-top: 50px;
    background-position: top;
}

.horror h2{
    width: 100%;
    text-align: center;
}

.cacador {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../assets/imagens/bloodborne/bloodborne_inicial.jpg);
    background-size: cover;
    padding-top: 20px;
    margin-top: 30px;
    background-position: bottom;
}

.cacador h2{
    width: 100%;
    text-align: center;
}

.simulacao {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    font-size: 28px;
    background-size: cover;
    padding-top: 20px;
    margin-top: 30px;
    background-position: bottom;
}

.simulacao h2{
    width: 100%;
    text-align: center;
}

.clinica {
    width: 100%;
    height: 580;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 28px;
    margin-top: 40px;
}

.clinica .container{
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}

.clinica .container img{
    width: 38vw;
    margin-left: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
    margin: 30px 0px 30px;
}

.clinica .container img:hover {
    transform: scale(1.05);
}

.clinica .container p{
    margin: 0px 80px 0px 80px;
}


